# ORDERS SERVICE
ORDERS_HTTP_PORT=3000
ORDERS_DB_HOST=postgres
ORDERS_DB_PORT=5432
ORDERS_DB_USER=orders_user
ORDERS_DB_PASSWORD=orders_pass
ORDERS_DB_NAME=orders_db

# AUDIT SERVICE
AUDIT_HTTP_PORT=3001
AUDIT_TCP_PORT=4001
AUDIT_MONGO_URI=mongodb://mongo:27017/audit_db

# SHARED
AUDIT_TCP_HOST=audit
